<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="about container">
  <h1 class="text-center mb-5">About</h1>
  <p class="text-center mb-5">
    Edu-Web was established in 2021 and aims to provide everyone with good quality information and courses.
  </p>
  <p class="text-center">
    We are not a formal institution. We provide helpful links to the courses provided. Our links direct you to the best learning videos on YouTube, that will upskill you.
  </p>

  <div class="follow text-center">
    <h4>Follow Us</h4>
    <a class="fa fa-facebook" onclick="window.location.href='https://www.facebook.com/';"></a>
    <a class="fa fa-twitter" onclick="window.location.href='https://www.twitter.com/';"></a>
    <a class="fa fa-linkedin" onclick="window.location.href='https://www.linkedin.com/';"></a>

  </div>



</section>
