body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}/* You can add global styles to this file, and also import other style files */

.homecontent h1 {
  color: rgb(244, 244, 248);
  border-color: chocolate;
  font-size: 80px;
}
